* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
}
.login {
  background: linear-gradient(140deg, #313131e6, #191919 75%);
  min-height: 100vh;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .login-form {
    background-color: rgba(0, 0, 0, .23);
    max-width: 420px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    // overflow: hidden;
    padding-bottom: 80px;
    .login-logo {
      display: block;
      margin: -80px auto 40px;
      width: 120px;
      border-radius: 50%;
    }
    form {
      width: 100%;
      .input-con{
        position: relative;
        i{
          position: absolute;
          left: 25px;
          top: 50%;
          translate: -50% -50%;
          color: #bf9b30;
        }
        .password-icon{
          width: 30px;
          cursor: pointer;
          position: absolute;
          right: 0;
          opacity: .4;
          top: 50%;
          translate: -50% -50%;
        }
      }
      input {
        display: block;
        width: 100%;
        border-radius: 0.5rem;
        margin-top: 1.2rem;
        background-color: #3a3939;
        color: white;
        outline: none;
        font-size: 1.05rem;
        padding: .9rem;
        font-weight: 700;
        transition: .15s;
        border: 1px solid transparent;
        &::placeholder{
          color: rgba(255, 255, 255, 0.7);
          font-weight: 500;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
          font-size: 1rem;
          line-height: 1.5;
        }
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
        &[type="number"] {
          appearance: textfield;
          -moz-appearance: textfield;
        }
        &:not([type="button"]){
          padding-left: 50px;
        }
        &[type="button"]{
          background-color: #bf9b30;
          margin-top: 2.4rem;
          transition: .15s;
          line-height: 1.5;
          font-size: .8rem;
          letter-spacing: .5px;
          cursor: pointer;
          &:hover{
            background-color: #e7bc3c;
          }
        }
        &:focus{
          border: 1px solid rgba(191, 155, 48, 0.7);
          box-shadow: 0 0 6px 0 #bf9b30;
        }
      }
    }
  }
}
